.container-main, .container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:80%
}

.disabled{
     background-color: rgba(235, 103, 217, 0.37) !important;
}
.btn-taesa{
    background-color: rgb(235, 103, 217);
}