.container-main, .container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:80%
}

.disabled{
    background-color: rgba(0, 84, 229, 0.38) !important;
}
.btn-taesa{
    background-color: rgb(47, 118, 240);
}
#returnButton{
    display: flex;
    justify-content: right;
}
.logo{
    width:30%;
}